
#titleAndLogo{
    display: flex;
   flex-direction: row-reverse;
}

#title{
font-size: 50px;
display:flex;
margin: auto;
max-width: 500px;

}
#titleLogo{
    max-width: 4.5vw;
    min-width: 1px;
    margin-top: 2px;
  position: absolute;
  margin:auto;

  padding-top: 100px;
  padding-left: 100px;
  
  

}
#museumLogo{
    max-width: 22vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
    position: absolute;
   padding-top: 10px;
   padding-left: 10px;
   
    
}

#AmericanDino{
    border: 5px solid;
    max-width: 100vw;
    
    min-width: 10px;
    margin-top: 25px;
    margin: auto;

}
#lobby{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}
#fossilImprint{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}
#membershipImage{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}