
#titleAndLogo{
    width: 100vw;
    display: flex;
   flex-direction: row-reverse;
 
  align-items: center;
  justify-content: center;
  background-color: #228b22;
  margin: 0px;
  
}

#title{
font-size: 50px;
display:flex;




}
#titleLogo{
    max-width: 5vw;
    min-width: 1px;
    margin-top: 2px;
    padding-right: 10px;
    
}

#museumLogo{
    max-width: 22vw;
    min-width: 10px;
    margin-top: 10px;
    margin-left: 12px;
    margin: top;
    position: absolute;
   clip-path: circle();
   
    
}

#AmericanDino{
    border: 5px solid;
    max-width: 99.5vw;
    
    min-width: 10px;
    margin-top: 25px;
    margin: auto;

}
#lobby{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}
#fossilImprint{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}
#membershipImage{
    border: 5px solid;
    max-width: 15vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
    

}
#giftshopImage{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}

#whoWeAreSection{
    padding: 10px;
    align-items: center;
    padding-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #6e260e;
    color: white;
   

}
#whoWeArePG{
    font-size: 27px;
    text-align: center;
padding-right: 10px;

}
#whoWeAreHeader{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    text-decoration: underline;
}



#paleontologyHeader{
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-decoration: underline;

}
#paleontologySection{
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    background-color: #6e260e;
    color: white;

}
#paleontologyPG{
   padding: 10px;
    justify-content: center;
    display: flex;
    font-size: 30px;
    align-items: center;
    text-align: center;

}

#membershipSection{
    display: flex;
    flex-direction: row-reverse;
    background-color: #6e260e;
    color: white;
    padding: 10px;
}
#membershipPG{
    
    padding-left: 250px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    font-size: 27px;
    align-items: center;
}
#membershipHeader{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    text-decoration: underline;

}




#giftShopSection{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #6e260e;
    color: white;
}
#giftShopPG{
    padding-right: 250px;
    padding-left: 10px;
    text-align: center;
    display: flex;
    font-size: 33px;
    align-items: center;
}
#giftShopHeader{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    text-decoration: underline;

}

#seaExhibit{
    display: flex;
    flex-direction: row;
    background-color: #6e260e;
    color: white;
}
#seaExhibit ul{
    font-size: 30px;
    padding-right: 30px;
    text-align: center;
}

#seaExhibitPG{
    
    padding-right: 30px;
    text-align: center;
    display: flex;
    font-size: 35px;
    align-items: center;
    padding-left: 20px;
}
#seaHeader{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    text-decoration: underline;

}
body{
    padding: 0px;
    margin: 0px;
}

#seaImage{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}
#fieldImage{
    border: 5px solid;
    max-width: 22vw;
    min-width: 40px;
    margin-top: 25px;
    margin: auto;

}
#prairieHeader{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    text-decoration: underline;

}
#prairieExhibit{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    background-color: #6e260e;
    color: white;

}
#prairieExhibitPG{
    padding-right: 30px;
    text-align: center;
    display: flex;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
}
#digHeader{

    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    text-decoration: underline;
}
#DigExhibit{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    background-color: #6e260e;
    color: white;
   
}
#digExhibitPG{
    padding-right: 30px;
    text-align: center;
    display: flex;
    font-size: 35px;
    align-items: center;
    padding-left: 20px;
}
#digSiteImage{
    border: 5px solid;
    max-width: 21vw;
    min-width: 10px;
    margin-top: 25px;
    margin: auto;
}

#topButton{
display:flex;
margin: auto;
padding: 10px;
font-size: large;
}


#footerLogo{
    width: 100px;
    padding-right: 680px;


}
#Copyright{
    
    justify-content: center;
    display: flex;
    align-items: center;
    padding-right: 801px;

}